.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'B612', sans-serif;
  font-weight: 400;

  width: 100vw;
  max-width: 100%; /* to avoid overflow */
  height: 100px;
  background-color: #222831;
}
.navbar > h2 {
  width: 150px;
  text-decoration: none;
}
.navbar > h2 > a {
  text-decoration: none;
  color: #ffd369;
}
.navbar > h2:hover {
  transform: scale(1.1);
}

/* MEDIA QUERIES */

@media (max-width: 425px) {
  .navbar > h2 {
    font-size: 20px;
    width: 120px;
  }
}
